<div class="cart-title">Your Cart</div> 
<table cellspacing="0" cellpadding="2"> 
  <%= render(:partial => "cart_item", :collection => cart.items) %>
  <tr class="total-line"> 
    <td colspan="2">Total</td> 
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td> 
  </tr> 
</table> 
<%= button_to "Empty cart", :action => :empty_cart %>